// This is the ajv validator based upon the {{ schema['title']}} JSON schema

{% if options['useRequire'] %}
const Avj = require("ajv")
{% else %}
import Ajv from 'ajv'
{% endif %}

/********************************************************************
Generation Options:
{{ options | tojson(2) }}
*********************************************************************/

const schema = {{ schema | tojson(2) }}

const ajv = new Ajv({{ options['ajvOptions'] | tojson(2) }})

export const {{ options['rootType'] }}_validate = ajv.compile(schema)

